body {
    background-color: #0e0146;
}

.LoginForm {
    padding: 5rem;
    display: flex ;
    margin-top: 7%;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.LoginForm input,
.LoginForm label,
.LoginForm button,
.LoginForm h1{
    color: white;
}

.LoginForm input {
    background-color: #460146;
}

.LoginForm button {
    background-color: #3c0146;
}

.TranslateButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
